body {
    background-color: rgb(17, 1, 19);
}
.eu {
    background-color: rgb(48, 2, 66);
    width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}
.insta p {
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.insta a {
    text-decoration: none;
    color: rgb(148, 147, 152);
    text-align: center;
}
.insta a:hover {
    color: blueviolet;
}
.conteudo h1{
    text-align: center;
    color: rgb(233, 185, 240);
    font-weight: 100;
}
.sites a {
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    transition: all 1s ease;
}
.sites a:hover {
    color: purple;
    transform: scale(1.5);
}

.sites p {
    text-align: center;
}